@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --primary-color: #333;
  --second-color: rgb(120, 60, 8);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  border-radius: 8px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 35px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  width: 15%;
  margin: 0 auto;
  border-radius: 15px;
}

form button:hover {
  background: var(--second-color)
}

