* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: rgb(7, 9, 9);
}

.container {
  width: 500px;
  text-align: left;
  padding: 15px;
  background-color: aliceblue;
  margin: 200px auto;
  border-radius: 8px;
  border: 2px solid black;
}