.tarefas {
  margin-top: 30px;
}

.tarefas li {
  margin-left: 20px;
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding: 10px;
  transition: ease 0.7s;
}

.tarefas li:hover {
  background: gray;
}

.tarefas li .edit {
  margin-right: 10px;
  color: #289;
}

.tarefas li .delete {
  color: #725;
  margin-right: 20px;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: ease 0.7s;
}
.tarefas li .edit:hover,
.tarefas li .delete:hover {
  color: black;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
